{#

ESSE CODIGO É UM TESTE PARA LISTAGENS FUTURAS E NÃO DEVE ESTAR AQUI!!!!



{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1></h1>
    {{ dump(horas) }} //aparece na pagina
    {% dump(horas) %}
    <table class="table">
        <thead>
            <tr>
                <th>Horas</th>
                
            </tr>
        </thead>
        <tbody>
        
        {% for hor in horas %}
            <tr>
                <td>{{ hor.hora }}</td>
                
                
            
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

#}