<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cadastrar Plano!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ form(form) }}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
